* {
    margin: 0;
    padding: 0;
    list-style: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: PingFangSc;
    background-color: #fff;
    font-size: 16px;
}

html,
body,
#root {
    height: 100%;
}

body,
h1,
h3,
p {
    margin: 0;
    padding: 0;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }